.olControlMagnifier {
    right: 5px;
    top: 5px;
    width: 130px;
    height: 80px;
    border: 1px solid black;
    background-color: #ddd;
}

.olMagnifierFactorDisplay {
    bottom: 0;
    right: 0;
    font-size: smaller;
    background-color: #ddd;
    padding: 2px;
}
